{% extends 'base.html.twig' %}

{% block title %}Hello TableController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Table de  {{ n }}! ✅</h1>
    
    <table border=1 style="border-color:{{color}}" >
    <tr style="color:{{color}}">
    <th>{{ n }}</th>
    <th>Multiplier par</th>
    <th>résulat</th>
    
    </tr>
    {% for calculation in calculations %}

<tr style="color:{{color}}"><td>{{n}}</td><td> {{calculation.indice}}</td><td>{{calculation.result}}</td></tr>

    
{% endfor %}
    
    </table>

</div>
{% endblock %}
